.keypad {
  display: grid;
  gap: 24px;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas: "7 8 9 clean" "4 5 6 minus" "1 2 3 plus" "z z z equal";
}

.key {
  height: 59px;
  min-width: 59px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  cursor: pointer;
  border-radius: 8px;
  background-color: #EDEEF0;
  box-shadow: inset 2px 2px 4px #DDDDDD4D, inset -2px -2px 6px #FFFFFF40;
}

.key::after {
  content: "";
  height: 59px;
  min-width: 59px;
  position: absolute;
}

.key p {
  height: 23px;
  color: #A1A1A1;
  font-size: 32px;
  line-height: 23px;
  font-family: 'Khand', sans-serif;
}

#key-0 {
  grid-area: z;
}